# Editor configuration for pathways-frontend
# @see http://editorconfig.org/

[*.js]
indent_style = space
indent_size = 4

[*.scss]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 4
