@import '~leaflet/dist/leaflet.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    background-color: #fafafa;
}

app-header {
    background-color: var(--paper-grey-800);
    color: #fff;
}

paper-dialog app-toolbar {
    background-color: var(--paper-grey-800);
    color: #fff;
}

app-toolbar {
    @media (max-width: 600px) {
        /* Mobile styles for toolbar
         * <https://github.com/PolymerElements/app-layout/issues/169>
         */
        height: 56px;
        padding: 0 8px;
    }
}

app-toolbar {
    paper-icon-button + [main-title] {
        margin-left: 8px;
    }

    [main-title] {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

paper-button {
    outline: none;

    &.grey {
        background-color: var(--paper-grey-700);
        color: white;
    }

    &.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
    }
}

paper-card.full-card {
    width: 100%;
}

.app-view-full {
    position: relative;
    min-height: 100vh;
}

paper-dialog.app-view-dialog {
    margin: 0;
    width: 100%;
    height: 100%;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    .app-view {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        padding: 0;
        flex-direction: column;

        app-toolbar {
            flex-shrink: 0;
        }

        .service-map-view {
            position: relative;
            flex-grow: 1;
            display: flex;
        }
    }
}

.pathway-list-item {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: .7em .57em;
    align-items: center;
    color: inherit;

    .pathway-icon-wrapper {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 1em;
        width: 9em;
        height: 9em;
        justify-content: center;
        align-items: center;

        .pathway-icon {
            display: block;
            position: relative;

            iron-icon {
                margin: 1.5em;
                --iron-icon-width: 4em;
                --iron-icon-height: 4em;
            }

            svg.pathway-icon-progress {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                stroke: var(--paper-light-blue-100);
                stroke-width: 3px;
                vector-effect: non-scaling-stroke;
                fill: none;
            }

            paper-badge {
                --paper-badge-margin-left: -2.5em;
                --paper-badge-margin-bottom: -4em;
            }
        }
    }

    .pathway-list-item-name {
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 20em;
    }

    &.pathway-list-item--focus {
        .pathway-list-item-name {
            font-weight: bold;
        }

        .pathway-icon {
            iron-icon {
                margin: 2em;
                --iron-icon-width: 6.5em;
                --iron-icon-height: 6.5em;
            }
        }
    }
}

.pathway-action-item {
    $checkbox-width: 30px;

    padding: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;

    &.opened {
        z-index: 2;
    }

    .card-content {
    }

    .card-actions {
        background-color: var(--paper-grey-50);
        padding: 0;
    }

    .card-content.interactive {
        cursor: pointer;
        user-select: none;
    }

    .pathway-action-item--main {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 16px;

        .pathway-action-item--checkbox {
            width: $checkbox-width;
        }
    }

    .pathway-action-item--header {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        .pathway-action-item--label {
            flex-grow: 1;
        }
    }

    .pathway-action-item--actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 16px;

        paper-icon-button {
            margin: 0 1em;
        }
    }
}

.service-map-view {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .leaflet-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .service-map-overlay {
        position: absolute;
        z-index: 649;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 16px 24px;
        pointer-events: none;

        --paper-card-background-color: rgba(#fff, 0.95);

        /* TODO: Put everything here inside container components.
         *       Remove custom margins.
         */

        .filters-container {
            display: block;
            margin-bottom: 8px;

            paper-chip {
                margin: 4px 4px 4px 0;
            }

            paper-icon-button {
                margin-left: 4px;
                color: var(--paper-grey-700);
            }
        }

        paper-chip, a, button, [role=button] {
            pointer-events: auto;
        }

        small {
            font-size: 1em;
            line-height: 1.4;
            color: var(--paper-grey-600);

            a {
                color: inherit;
                font-weight: normal;
            }
        }

        paper-progress {
            display: block;
            margin-top: 12px;
            width: 100%;
            --paper-progress-active-color: var(--paper-light-blue-500);
            --paper-progress-secondary-color: var(--paper-light-blue-100);
        }
    }
}
